group FakeBuild
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget BlackFox.Fake.BuildTask
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget FSharp.Core